@font-face {
    font-family: 'museo-sans-300';
    src: url('/fonts/museosans-300-eot.eot');
    src: url('/fonts/museosans-300-eot.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans-300-woff.woff') format('woff'),
         url('/fonts/museosans-300-ttf.ttf') format('truetype'),
         url('/fonts/museosans-300-svg.svg#museo_sans300') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'museo-sans-700';
    src: url('/fonts/museosans-700-eot.eot');
    src: url('/fonts/museosans-700-eot.eot?#iefix') format('embedded-opentype'),
         url('/fonts/museosans-700-woff.woff') format('woff'),
         url('/fonts/museosans-700-ttf.ttf') format('truetype'),
         url('/fonts/museosans-700-svg.svg#museo_sans700') format('svg');
    font-weight: normal;
    font-style: normal;

}

*{
  font-family: 'museo-sans-300';
}

article{

  padding: 0 0 6px 0;

}

#wrap{
  width: 420px;
}

.aside-content{
  overflow: hidden;
  width: 120px;
  height: 600px;
  background: #2D2D2D url(../images/shadow.png) no-repeat;
  float:left;
  position: relative;
  z-index: -9999999;

}

.shadow{ }

.tools{

  background: transparent url(../images/social.png) no-repeat;
  width: 21px;
  height: 20px;
  background-position: -35px -28px;
  cursor: pointer;
  margin: 140px 0 0 24px;
  padding: 0 0 30px 0;
  position: absolute;
  bottom: 0;

}

.river-news{

  width: 300px;
  height: 600px;
  overflow-y:hidden;
  background: #fff;
  float: right;
  -webkit-box-shadow: -8px 2px 43px 1px rgba(36,36,36,1);
  -moz-box-shadow: -8px 2px 43px 1px rgba(36,36,36,1);
  box-shadow: -8px 2px 43px 1px rgba(36,36,36,1);

}

.river-news #related{

  height: 330px;
  background: #F2F2F2;
  border-top: 2px solid #E7E7E7;

}

.toolsAdd{

  background: #fff url(../images/social.png) no-repeat;
  width: 100px;
  height: 30px;
  background-position: -32px -23px;
  cursor: pointer;
  margin: 140px 0 20px 24px;
  padding: 0 0 0 0;
  position: absolute;
  bottom: 0;

}

#grand{

  text-align: center;
  padding: 0 8%;
  margin: 3% 0 0 0;

}

#grand a{

  font-size: 14px;
  color:#000;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5em;
  display: block;
}

#grand .dropline p{

  text-align: center;
  font-size: 12px;
  color:#7B7B7B;

}

.dropline a{

  color:#DF0102 !important;
  display: inline !important;
  font-size: 11px !important;
  text-transform: lowercase !important;

}

#grand figure{

  text-align: center;
  position: relative;
  margin: 3% 0 3% 2%;

}

#grand figure img{

  width: 246px;
  height: 140px;

}

#related{

  padding: 2% 7% 0 7%;

}

#related article{

  padding:3.5% 0 3.5% 0;
  border-bottom: 1px solid #B5B5B5;

}

#related .no-border{

  border:none;

}

#related figure{
  
  float: left;
  margin: 0 2.5% 0 0;

}

#related figure img{

  height: 43px;
  width: 72px;

}

#related a{

  font-size: 12px;
  color: #393939;
  display: block;
  line-height: 17px;

}

#menu .item{

  padding: 0 8%;
  border-bottom:1px dashed #000;
  line-height: 2.5em;
  text-transform: uppercase;
  font-size: 11px;
  color:#A5A5A5;

}

#menu .item a{
  color:#A5A5A5;
}

#menu .item a:hover{
  text-decoration: none;
}

#menu .item:hover{

  cursor: pointer;
  color:#fff !important;

}

.tn-select{ background: #166384; color:#fff !important; }
.tn:hover{ background: #166384; }

.deportes-select{ background: #5D7A36; color:#fff !important; }
.deportes:hover{ background: #5D7A36; }

.musica-select{ background: #6A1826; color:#fff !important; }
.musica:hover{ background: #6A1826; }

.show-select{ background: #661645; color:#fff !important; }
.show:hover{ background: #661645;}

.tnylagente-select{ background: #8F4428; color:#fff !important; }
.tnylagente:hover{ background: #8F4428;}

.transito-select{ background: #967D30; color:#fff !important; }
.transito:hover{ background: #967D30; }
.transito:hover > a{
  color: #fff !important;
}

#menu .alive a{

  font-family: 'museo-sans-700' !important;
  background: #DF0102;
  text-transform: uppercase;
  color: #fff;
  line-height: 3.2em;
  font-size: 14px;
  display: block;
  width: 100%;
  padding: 0 0 0 38px;
  text-shadow: 1px 1px 1px #000;

}

#menu .alive .play{

  display: block;
  position: absolute;
  background: transparent url(../images/play.png) -1px 0 no-repeat;
  width: 19px;
  height: 19px;
  top: 77px;
  left: 14px;

}

#menu .alive a:hover{
  text-decoration: none;
  background: #AA0B23;
}

#menu .search input{

  background: #555555;
  border:none;
  width: 82%;
  line-height: 2.6em;
  font-size: 11px;
  padding: 0 0 0 6%;
  margin: 8% 5%;
  text-transform: uppercase;
  color:#D6D6D6;

}

#menu .logo a{

  background: transparent url(../images/logo.png) no-repeat;
  height: 29px;
  width: 63px;
  margin: 15% 22%;
  display: block;
  text-indent: -999999em;

}

#social{

  height: 40px;
  background: #F2F2F2;
  padding: 6% 6% 0 6%;
  position: absolute;
  bottom: -7px;
  width: 60%;

}

#social li{

  float: left;
  margin: 0 3% 0 0;

}

#social .social{

  background: transparent url(../images/social.png) no-repeat;
  height: 19px;
  width: 19px;
  text-indent: -99999em;
  display: block;

}

#social .twitter{

  background-position: -5px -3px;

}

#social .facebook{

  background-position: -31px -3px;

}

#social .google{

  background-position: -57px -3px;

}

#social .youtube{

  background-position: -85px -3px;

}

#social .rss{

  background-position: -5px -26px;

}

#social .see-more{

  text-decoration: none;
  color:#fff;
  position: absolute;
  right: 18px;
  width: 77px;
  text-transform: uppercase;
  line-height: 2.15em;
  font-weight: bold;
  top: 22px;
  padding: 0 0 0 11px;
  border-radius:3px 3px 3px 3px;
  font-size: 11px;
  display: block;
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top,  #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */


}
#row{

  width: 15px;
  height: 15px;
  background:transparent url(../images/play.png) -26px -6px no-repeat;
  display: block;
  position: absolute;
  top: 6.8px;
  right: 0px;

}


#social .see-more:hover{

  background: #009ec3;

}

#preloader{

  min-height: 50px;
  background: transparent url("../images/preloader.svg") center center no-repeat;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 5%;
  left: 42%;
  z-index: 99999;

}

.weather{

  text-align: center;
  padding: 9px 0 42px 0;

}

.weather a:hover{

  text-decoration: none;

}

.weather img{

  left: -50px;
  top: -37px;

}

.wheather-title{

  display: block;
  color: white;
  font-size: 12px;

}

.wheather-content{

  position: absolute;
  right: -36px;
  top: 6px;
  font-size: 1.3em;
  color: white;

}